CASHFREE_APP_ID=1234
CASHFREE_SECRET_KEY=key
CASHFREE_ENV=SANDBOX # PRODUCTION

DATABASE_URL='postgres://localhost:5432/pfe'

NEXT_PUBLIC_SITE_URL=https://register.pfe.mpstmeacm.com

NEXT_PUBLIC_MERCHANT_NAME='MY NAME'

ADMIN_PASSWORD=adminPass
MEMBER_PASSWORD=memberPass

ORDER_AMOUNT=100.00 # in INR

SMTP_HOST=smtp.domain.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=mail@domain.com
SMTP_PASS=PassWord
SMTP_FROM='Name <mail@domain.com>'

GOOGLE_SHEETS_PRIVATE_KEY='-----BEGIN PRIVATE KEY-----\nLongAssString\n-----END PRIVATE KEY-----\n'
GOOGLE_SHEETS_CLIENT_EMAIL=mail@something.iam.gserviceaccount.com
GOOGLE_SHEETS_SHEET_ID=1234